USER_AGENT="company name company_email@example.com"
RFR_LOG="/var/logs/Ginzu-Valuation/rfr.log"
ERP_LOG="/var/logs/Ginzu-Valuation/erp.log"
SEC_LOG="/var/logs/Ginzu-Valuation/sec.log"
SEC_SUMMARY_LOG="/var/logs/Ginzu-Valuation/sec_summary.log"
SEC_ERROR_LOG="/var/logs/Ginzu-Valuation/sec_error.log"